#scroll-Btn{
  display: flex;
  justify-content: center;
}

.grid {
  /*grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));*/
  /*grid-gap: 20px;*/
  align-items: center;
  display: flex;
  padding: 15px;
  justify-content: center;
}
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  padding: 20px;
}

#input-group{
  justify-content: center;
}

button{
  margin: 5px;
}
