<button (click)="onSaveClick()">Next</button>
<div>
  {{stage.question}}
</div>
<div *ngIf="stage.stage_type === 'TEXT_ANSWER'">
  <div *ngFor="let response of stage.response; let i = index">
    {{response.choiceText}}:<input type="text" placeholder="{{response.choiceText}}" [(ngModel)]="response.response">
  </div>
</div>

<div class="form-check" *ngIf="stage.stage_type === 'MULTIPLE_CHOICE'">
  <div *ngFor="let response of stage.response; let i = index">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{response.choiceText}} + {{i}}" (click)="onResponseClick(response.choiceText,i)">
    <label class="form-check-label" for="{{response.choiceText}} + {{i}}">
      {{response.choiceText}}
    </label>
  </div>
</div>

<div class="form-check" *ngIf="stage.stage_type === 'MULTIPLE_CHECKBOX'">
  <div *ngFor="let response of stage.response; let i = index">
    <input class="form-check-input" type="checkbox" value="" id="{{response.choiceText}} + {{i}}" (click)="onResponseClick(response.choiceText,i)">
    <label class="form-check-label" for="{{response.choiceText}} + {{i}}">
      {{response.choiceText}}
    </label>
  </div>
</div>
