.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  max-width: 1000px;
  grid-gap: 20px;
  margin: 0 auto;
  /*align-items: start;*/
  padding: 20px;
}

.noProcess{
  text-align: center;
  color: dimgrey;
}
